* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header_container {
    position: fixed;
    top: 16px;
    width: 1344px;
    height: 64px;
    padding: 0 12px 0 24px;
    border-radius: 80px;
    z-index: 999;

    box-shadow:
            inset 0 1px 1px rgba(255,255,255,0.35);

}


.header_container::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    padding: 1px;

    background: linear-gradient(
            135deg,
            rgba(255,255,255,0.45),
            rgba(255,255,255,0.12)
    );

    -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            radial-gradient(
                    180% 100% at 50% 50%,
                    #fff 65%,
                    transparent 88%
            );

    -webkit-mask-composite: xor;
    mask-composite: exclude;

    pointer-events: none;
}


.header_container::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='200' height='200' filter='url(%23n)' opacity='0.03'/%3E%3C/svg%3E");
    pointer-events: none;
}



.header_container .mobile_menu{
    display: none;
}
.header_container .burger_menu{
    display: none;
}

.header {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.header .logo_img {
    height: 28px;
}

.desktop_header_menu {
    cursor: pointer;
    display: flex;
    gap: 48px;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;

}


.lang_select_block {
    display: flex;
    gap: 32px;
}

.languages_block {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: rgba(35, 35, 35, 0.5);
    display: flex;
    gap: 12px;
    align-items: center;
}

.languages_block div.active {
    color: rgba(35, 35, 35, 1);
}

.select_bot_button {
    background: #232323;
    box-shadow: 0 1px 3px 0 rgba(14, 18, 27, 0.12);
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    width: 154px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    cursor: pointer;


}

.product_page {
    background: #d9d9d9;
    min-height: 100vh;
    width: 100%;
}

.popup_fs {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: brightness(0.4);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.4s ease, visibility 0.4s;
}

.active_popup {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.popup_container_gradient {
    background: linear-gradient(180deg, #F6F6F6 0%, #E6E6E6 100%);
    padding: 2.74px;
    border-radius: 24px;

}

.popup_container {
    background: #F1F1F1;
    padding: 13.26px;
    border-radius: 22px;
}

.popup_head {
    background: #FFFFFF;
    border-radius: 12px;
    padding: 4px 4px 4px 16px;
    display: flex;
    align-items: center;
    width: 1150px;
}

.popup_bot_name {
    color: #232323;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;

}

.forex_text {
    margin-left: 16px;
    color: #727272;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}

.cross_block_popup {
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    background: #232323;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.cross_block_popup img {
    width: 10px;
}

.contact_info_block {
    margin-top: 16px;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: 477fr 616px;

}

.contact_us_text {
    color: #727272;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}

.contact_info_block .month_year_handler {
    margin-top: 16px;
    background: #EAEAEA;
}

.popup_input_theme {
    color: #5C5C5C;
    font-family: Geist;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;

}

.popup_input {
    margin-top: 8px;
    box-shadow: 0px 1px 2px 0px #0A0D1408;
    border: 1px solid #EBEBEB;
    background: #FFFFFF;
    height: 40px;
    padding: 10px 12px;
    font-family: Geist;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    outline: none;
    width: 100%;

}

.popup_input::placeholder {
    color: #23232380;
}

.send_button {
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    background: transparent;
    box-shadow: 0px 1px 3px 0px #0E121B1F;
    border: 1px solid #232323;
    padding: 14px;
    width: 100%;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;


}

.letter_us {
    display: flex;
    gap: 8px;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 16px;
    color: #232323;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;

}

.letter_us hr {
    flex-grow: 1;
    height: 0;
    border: none;
    border-top: 1px solid #B9B9B9;
}

.telegram_btn {
    margin-top: 16px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    box-shadow: 0px 1px 3px 0px #0E121B1F;
    background: #232323;
    text-align: center;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    border-radius: 200px;
    cursor: pointer;


}

.popup_bot_info {
    display: flex;
    flex-direction: column;
    gap: 6.29px;

}

.bot_info_item {
    width: 100%;
    border-radius: 12px;
    background: #FFFFFF;
    display: flex;
    padding: 13px;
    align-items: center;
    color: #232323;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}

.circle_bot_info {
    width: 8px;
    height: 8px;
    background: #D9D9D9;
    border-radius: 50%;
    margin-right: 8px;
}

.popup_price {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 12px;
    align-items: center;
}

.price_text_popup {
    color: #232323;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;

}

.price_container {
    margin-left: auto;
    display: flex;
    align-items: flex-end;

}

.paying {
    color: rgba(35, 35, 35, 0.5);
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;

}

.price_main {
    margin-left: 4px;
    color: #232323;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;

}


.liquidGlass-wrapper {
    display: flex;
    font-weight: 600;
    color: black;

    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.liquidGlass-effect {
    opacity: 1;
    transition: 0.4s;
    position: absolute;
    border-radius: 80px;
    overflow: hidden;
    z-index: 0;
    inset: 0;

    filter: url(#glass-distortion);
    -webkit-filter: url(#glass-distortion);

    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: filter, transform;

    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    pointer-events: none;
}


.liquidGlass-tint {
    transition: 0.4s;
    z-index: 1;
    border-radius: 80px;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.25);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;

    overflow: hidden;

    box-shadow: inset 2px 2px 1px 0 rgba(255, 255, 255, 0.5),
    inset -1px -1px 1px 1px rgba(255, 255, 255, 0.5);
}

.liquidGlass-text {
    z-index: 3;
    font-size: 2rem;
    color: black;
}




@media screen and (max-width: 768px) {
    .App {
        overflow: hidden;
    }
    .popup_container_gradient{
        max-height: calc(100vh - 20px);
        overflow-y: scroll;
    }
    .popup_fs{
        padding: 10px 8px;
    }
    .popup_head{
        width: auto;
        padding: 4px 4px 4px 8px;
    }
    .popup_container {
        background: #F1F1F1;
        padding: 5.26px;
    }
    .popup_bot_name{
        font-size: 20px;
    }
    .forex_text{
        font-size: 16px;
        line-height: 120%;
    }
    .contact_info_block {
        margin-top: 24px;
        display: grid;
        grid-gap: 24px;
        grid-template-columns: 1fr;
    }
    .popup_input_theme{
        line-height: 100%;
    }
    .contact_info_block .month_year_handler{
        margin-top: 8px;
    }
    .month, .year{
        font-weight: 400 !important;
    }
    .popup_bot_info{
        gap: 8px;
    }
    .bot_info_item{
        padding: 16px 15px;
        font-size: 14px;
    }

    .letter_us{
        font-size: 12px;
        margin-top: 8px;
    }
    .telegram_btn {
        margin-top: 8px;
    }

    .cross_block_popup{
        flex-shrink: 0;
    }

}

.popup_container_gradient.thx{
    max-width: 614px;
}

.popup_container{
    padding: 21.26px;
}

.thx_tex{
    display: flex;
    color: #232323;
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    align-items: center;

}

.thx_desc{
    color: #727272;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    margin-top: 16px;

}

.main_page_button{
    margin-top: 16px;
    background: #232323;
    box-shadow: 0px 1px 3px 0px #0E121B1F;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    color: #FFFFFF;
    font-family: Inter;
    font-weight: 500;
    border-radius: 200px;
    font-size: 16px;
    line-height: 20px;


}


@media screen and (max-width: 1200px) {
    .popup_head{
        max-width: 600px;
    }
    .contact_info_block{
        grid-template-columns: 1fr;
    }
}